<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
  </nav>
  <div class="d-flex flex-wrap">
    <app-user *ngFor="let user of userList" [user]="user"></app-user>
  </div>
</div>
