app-user {
   padding: 5px;
}

@media (min-width: 576px) {
   app-user {
      width: 100%;
   }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   app-user {
      width: 50%;
      &:nth-child(n) {
         padding-left: 0px !important;
      }
      &:nth-child(n+2) {
         padding-right: 0px !important;
      }
   }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
   app-user {
      width: 33%;
      &:nth-child(n) {
         padding-left: 0px !important;
      }
      &:nth-child(n+3) {
         padding-right: 0px !important;
      }
   }
}
