<div class="card  mb-3">
  <img class="card-img-top" [src]="'https://pbs.twimg.com/profile_banners/75051887/1477257634/1500x500'" style="width: 100%;height: 120px;object-fit: cover;"
    alt="Card image cap">
  <div class="card-body" style="padding-top: 70px !important;">
    <h5 class="card-title" style="color: black;">{{user.firstName}} {{user.lastName}}</h5>
    <a class="card-text">@{{user.username}}</a>
    <img class="user" [src]="user.avatar" style="width: 100px;height:100px;">
    <span *ngIf="user.followsYou" class="badge badge-secondary ml-3" style="font-size: 10px;font-weight: 500;">Seni Takip Ediyor</span>
    <p>{{user.description}}</p>
  </div>
</div>
<!-- <div style="border: 1px solid #000000">
  <img [src]="user.avatar" style="width: 30px;height: 30px;">
  <p>{{user.firstName}}</p>
  <p>{{user.lastName}}</p>
  <p>{{user.email}}</p>
  <p>{{user}}</p>
</div> -->
