.user {
   position: absolute;
   top: 65px;
   left: 16px;
   border-radius: 100%;
}

.card-title {
   cursor: pointer;
   margin-bottom: 0;
   &:hover {
      text-decoration: underline;
   }
}

.card-text {
   cursor: pointer;
   color: #007bff !important;
   font-size: 14px;
   &:hover {
      text-decoration: underline !important;
   }
}
